#palette() {
  bg:          @backgroundColor;
  text:        @textColor;
  subtitle:    @subtitleColor;
  description: @descriptionColor;
  border:      @borderColor;
}

#btn() {
  bg:    @buttonBackground;
  hover: @buttonHover;
  text:  @buttonText;
}

#icon() {
  bg:    @iconBackground;
  color: @iconColor;
  hover: @iconHover;
}
