// fonts
@mainFont: 'Inter', sans-serif;

// colors
@backgroundColor: #efefef;
@cardBackground: #ffffff;
@textColor: #2d2d2d;
@subtitleColor: #5f5f5f;
@descriptionColor: #888888;
@buttonBackground: #3d3d3d;
@buttonHover: #585858;
@buttonText: #ffffff;
@iconBackground: #e0e0e0;
@iconColor: #444444;
@iconHover: #3d3d3d;
@borderColor: #d5d5d5;

// breakpoints
@mobile: 767px;
@mobile-mq: ~"(max-width: @{mobile})";
